/* Backgrounds */
.bg-success-soft {
  background-color: #28c76f !important; /* green shade */
}

.bg-danger-soft {
  background-color: #ea5455 !important; /* coral red */
}

/* Toast progress bar */
.toast-progress-bar {
  height: 4px;
  animation: shrink 3s linear forwards;
}

.toast-progress-bar.success {
  background-color: #198754;
}

.toast-progress-bar.error {
  background-color: #dc3545;
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

