@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.shrink-bar-animate {
  animation: shrink 3s linear forwards;
}
.form-control-lg, .form-select.form-control-lg {
  height: 48px !important;
}
.readonly-input {
  background-color: #f8f9fa !important;
  cursor: not-allowed !important;
}
.readonly-input:hover {
  background-color: #e9ecef !important;
}